<app-navbar></app-navbar>

<div class="usuarios-container">
  <h1 class="titulo">👥 Gestor de Usuarios</h1>

  <div class="acciones-superiores">
    <button class="btn-c salir" (click)="volver()">Salir</button>
    <button class="btn-c agregar" (click)="agregarUsuario()">➕ Agregar Usuario</button>
    <div class="buscar">
      <button class="btn-c" (click)="open()">🔍 Filtrar</button>
      <button class="btn-c limpiar" (click)="limpiarFiltros()">🧹 Limpiar</button>
    </div>
  </div>

  <!-- CONTENEDOR DE TARJETAS -->
  <div class="container-actividad">
    <div class="usuario-card" *ngFor="let usr of usuarios">
      <div class="usuario-info">
        <div class="avatar">
          <span>{{ usr.nombre.charAt(0) | uppercase }}</span>
        </div>

        <div class="usuario-detalles">
          <h3>{{ usr.nombre }}</h3>
          <p class="username">@{{ usr.username }}</p>
          <p class="email">{{ usr.email }}</p>
          <p class="rol">Rol: <strong>{{ usr.role }}</strong></p>
          <p class="estado">Estado:
            <span [ngClass]="{
              'estado-activo': usr.estado === 'Activo',
              'estado-inactivo': usr.estado === 'Inactivo'
            }">
            <ng-container >
              <span *ngIf="usr.estado === 'A'">Activo</span>
              <span *ngIf="usr.estado === 'I'">Inactivo</span>
              </ng-container>

          </span>
          </p>
          <p>id: {{ usr.id }}</p>
        </div>
      </div>

      <div class="acciones">
        <button class="btn-c editar" (click)="editar(usr.id)">✏️ Editar</button>
        <!-- <button class="btn-c eliminar" (click)="eliminarUsuario(usr.id)">🗑️ Eliminar</button> -->
      </div>
    </div>
  </div>

  <div *ngIf="!usuarios.length" class="no-usuarios">
    <p>No hay usuarios para mostrar.</p>
  </div>

  <div class="paginacion">
    <button class="btn btn-primary text-dark" [disabled]="paginaActual === 0" (click)="skipMinus()">⬅️ Anterior</button>
    <span class="fw-bold text-dark">Página {{ paginaActual + 1 }}</span>
    <button class="btn btn-primary text-dark" (click)="skipPlus()">Siguiente ➡️</button>
  </div>
</div>

<!-- MODAL FILTROS -->
<div *ngIf="visible()" class="modal-backdrop">
  <div class="modal-content">
    <button class="close-button" (click)="close()">×</button>
    <form (ngSubmit)="listarUsers()" #usrForm="ngForm">
      <h3 class="titulo-modal">🔍 Filtros de Búsqueda</h3>
      <label>Nombre:</label>
      <input type="text" [(ngModel)]="buscarNombre" name="nombre" />

      <label>Username:</label>
      <input type="text" [(ngModel)]="buscarUsername" name="username" />

      <label>Email:</label>
      <input type="text" [(ngModel)]="buscarEmail" name="email" />

      <label>Rol:</label>
      <input type="text" [(ngModel)]="buscarRol" name="rol" />

      <label>Estado:</label>
      <input type="text" [(ngModel)]="buscarEstado" name="estado" />

      <button type="submit">Buscar</button>
    </form>
  </div>
</div>
