<app-navbar></app-navbar>

<section class="dashboard-container">
  <!-- Título principal -->
  <header class="text-center mb-4">
    <h2 class="titulo">📊 Reporte de Actividades de Docencia</h2>
    <!-- <p class="subtitulo">Hospital General Tipo I de Tecpán Guatemala</p> -->
  </header>

  <!-- Filtros -->
  <form class="filtros glass-panel" >
    <div class="input-group">
      <label for="anio">Año</label>
      <input
        type="number"
        id="anio"
        [(ngModel)]="buscarAnio"
        name="anio"
        min="2024"
        max="2100"
        placeholder="Ej. 2025"
      />
    </div>

    <div class="input-group">
      <label for="mes">Mes</label>
      <input
        type="number"
        id="mes"
        [(ngModel)]="buscarMes"
        name="mes"
        min="1"
        max="12"
        placeholder="Ej. 10"
      />
    </div>

    <div class="acciones">
      <button type="button" class="btn-accion primary" >
        🔍 Generar
      </button>
      <button type="button" class="btn-accion success" (click)="exportarActividadesExcel()">
        📥 Excel
      </button>

    </div>
  </form>

  <div class="chart">

    <div class="bar"  *ngFor="let data of ejecutados; let i = index"
         [style.--value]="data.ejecutado * 100 + '%'"
         title="{{data.servicio_encargado}}">
        <div class="bar-inner">
          <span class="bar-value">{{ (data.ejecutado * 100) | number:'1.0-0' }}%</span>
        </div>
        <span class="bar-label">{{data.servicio_encargado}}</span>
      </div>
  </div>

  <!-- Contenido principal -->
  <div class="contenido-grid">


    <!-- Resumen de Totales -->
    <div class="glass-panel resumen">
      <h4 class="panel-title">Resumen</h4>
      <ul class="resumen-lista">
        <li><span>✅ Completas:</span> {{ resumen.completadas }}</li>
        <li><span>📅 Programadas:</span> {{ resumen.programadas }}</li>
        <li><span>🔁 Reprogramadas:</span> {{ resumen.reprogramadas }}</li>
        <li><span>🚫 Anuladas:</span> {{ resumen.anuladas }}</li>
        <li class="total"><span>📊 Total:</span> {{ resumen.total }}</li>
      </ul>
    </div>
  </div>
</section>
