<app-navbar></app-navbar>

<div class="usuarios-container">
  <h1 class="titulo">👥 Gestor de Servicios</h1>

  <div class="acciones-superiores">
    <button class="btn-c salir" (click)="volver()">Salir</button>
    <button class="btn-c agregar" (click)="agregarServicio()">
      ➕ Agregar Servicio
    </button>
    <button class="btn-c" (click)="open()">🔍 Filtrar</button>
    <button class="btn-c limpiar" (click)="limpiarFiltros()">🧹 Limpiar</button>
  </div>

  <!-- CONTENEDOR DE TARJETAS -->
  <div class="container-actividad">
    <div class="usuario-card" *ngFor="let data of serviciosResponsables">
      <div class="usuario-info">
        <!-- <div class="avatar">
          <span>{{ data.nombre.charAt(0) | uppercase }}</span>
        </div> -->

        <div class="usuario-detalles">
          <h3>{{ data.nombre }}</h3>

          <div class="info-bloque">
            <!-- Encargado principal -->
            <div class="linea-info">
              <span class="etiqueta">Encargado / Jefe:</span>
              <span class="valor">{{ data.encargado_servicio }}</span>
              <span class="subvalor">{{ data.puesto_funcional }}</span>
            </div>

            <!-- Subdirección -->
            <div class="linea-info">
              <span class="etiqueta">Área / Subdirección:</span>
              <span class="valor">{{ data.subdireccion?.nombre }}</span>
            </div>

            <div class="linea-info">
              <span class="etiqueta">Autoridad a cargo:</span>
              <span class="valor">{{
                data.subdireccion?.persona_encargada
              }}</span>
            </div>

            <!-- ID -->
            <div class="linea-info id">
              <span class="etiqueta">ID:</span>
              <span class="valor">{{ data.id }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="acciones"
  *ngIf="puedeEditar(data.id)"> -->
      <div class="acciones">
  <button class="btn-c editar" (click)="editar(data.id)">
    ✏️ Editar
  </button>
</div>

    </div>
  </div>

  <div *ngIf="!serviciosResponsables.length" class="no-usuarios">
    <p>No hay registros para mostrar.</p>
  </div>
</div>

<!-- MODAL FILTROS -->
<div *ngIf="visible()" class="modal-backdrop">
  <div class="modal-content">
    <button class="close-button" (click)="close()">×</button>
    <form (ngSubmit)="listarServicios()" #dataForm="ngForm">
      <h3 class="titulo-modal">🔍 Filtros de Búsqueda</h3>
      <label>Nombre de Servicio:</label>
      <input type="text" [(ngModel)]="buscarNombre" name="nombre" />

      <label for="buscarSub">Subdirección:</label>
      <select
        [(ngModel)]="buscarSub"
        name="buscarSub"
        id="buscarSub"
        class="form-select"
      >
        <option value="">Seleccione una subdirección</option>
        <option *ngFor="let sub of subListado" [value]="sub.id">
          {{ sub.nombre }}
        </option>
      </select>

      <button type="submit">Buscar</button>
    </form>
  </div>
</div>
