<div class="container mt-3 text-dark" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2 class="text-center mb-4 fw-bold text-white">Iniciar Sesión</h2>

  <form class="mx-auto p-4 border rounded shadow-sm bg-white form-container" style="max-width: 400px;">

    <div class="input-group">
      <label for="username">Usuario</label>
      <input type="text" id="username" formControlName="username" placeholder="Ingresa tu usuario">
    </div>

    <div class="input-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
    </div>

    <div class="forgot">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>

    <button class="sign" type="submit" [disabled]="loading">
      <ng-container *ngIf="!loading; else cargando">
        Iniciar sesión
      </ng-container>
      <ng-template #cargando>
        <div class="spinner"></div>
        Cargando...
      </ng-template>
    </button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="signup">
      ¿No tienes cuenta? <a  (click)="registrarse()">Regístrate</a>
    </div>
  </form>

  <!-- Overlay de carga -->
  <div class="overlay" *ngIf="loading">
    <div class="loader">
      <div class="spinner"></div>
      <p>Autenticando...</p>
    </div>
  </div>
</div>
