/* Configuración de página para impresión horizontal tamaño oficio */
@page {
  size: 13.5in 8.5in landscape;
  margin: 1in;

}


.informe-container {
  /* width: 100dvw; */
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 1rem;
  background-color: white;



}

/* ENCABEZADO */
.encabezado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #444;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.logo img {
  width: 280px;
  height: auto;
}

.titulo {
  flex: 1;
  text-align: center;
}

.titulo h2 {
  margin: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

.titulo p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

/* TABLA */
.tabla-reporte {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
  border-radius: 4px;
  text-align: center;

}

.tabla-reporte th, .tabla-reporte td {
  border: 1px solid #666;
  padding: 6px;
  text-align: center;
}

.tabla-reporte th {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
}

.tabla-reporte tbody, .tabla-reporte tr {
  text-align: center;
}

/* PIE DE FIRMA */
.firmas {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 0.9rem;
}

.firma {
  width: 45%;
  text-align: center;
  margin-top: 4rem;
}

/* Adaptación para impresión */
@media print {
  body {
    margin: 0;

  }

  .informe-container {
    margin: 0;
    padding: 0;
  }

  .no-print {
      display: none;
    }

  .tabla-reporte th {
    background-color: #ddd !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .firmas {
    page-break-inside: avoid;
  }

}

.tabla-reporte th:nth-child(1),
.tabla-reporte td:nth-child(1) {
  width: 3%;
}


.tabla-reporte th:nth-child(2),
.tabla-reporte td:nth-child(2) {
  width: 18%;
}

.tabla-reporte th:nth-child(3),
.tabla-reporte td:nth-child(3) {
  width: 6%;
}

.tabla-reporte th:nth-child(4),
.tabla-reporte td:nth-child(4) {
  width: 6%;
}
.tabla-reporte th:nth-child(5),
.tabla-reporte td:nth-child(5) {
  width: 6%;
}
.tabla-reporte th:nth-child(6),
.tabla-reporte td:nth-child(6) {
  width: 6%;
}
.tabla-reporte th:nth-child(7),
.tabla-reporte td:nth-child(7) {
  width: 6%;
}
.tabla-reporte th:nth-child(8),
.tabla-reporte td:nth-child(8) {
  width: 9%;
}
.tabla-reporte th:nth-child(9),
.tabla-reporte td:nth-child(9) {
  width: 6%;
}

.tabla-reporte th:nth-child(10),
.tabla-reporte td:nth-child(10) {
  width: 6%;
}
.tabla-reporte th:nth-child(11),
.tabla-reporte td:nth-child(11) {
  width: 10%;
}
