<app-navbar></app-navbar>

<div class="formulario-container">
  <button class="btn-volver" (click)="volver()">← Volver</button>

  <div class="form-card">
    <h1 class="form-title">Formulario de Usuario</h1>

    <form (ngSubmit)="guardar()" class="formulario-dos-columnas">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="usuario.username"
          placeholder="Ingrese el usuario"
        />
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="usuario.nombre"
          placeholder="Ingrese el nombre completo"
        />
      </div>
      <div class="form-group">
        <label for="subdireccion">Subdirección</label>
        <select
          id="subdireccion"
          name="subdireccion"
          class="form-control"
          required
          [(ngModel)]="subdireccion_id"
          (change)="
            onSubdireccionChange(subdireccion_id);
            listarServicios(subdireccion_id)
          "
        >
          <option value="" disabled selected>
            Seleccione una subdirección
          </option>
          <option *ngFor="let sub of subdirecciones" [value]="sub.id">
            {{ sub.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group" *ngIf="serviciosResponsables.length > 0">
        <label for="servicios">Servicio</label>
        <select
          id="servicios"
          name="servicios"
          class="form-control"
          required
          [(ngModel)]="usuario.servicio_id"
        >
          <option value="" disabled selected>Seleccione un servicio</option>
          <option
            *ngFor="let serv of serviciosResponsables"
            [value]="serv.id"
            default="ser.id"
          >
            {{ serv.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="usuario.email"
          placeholder="ejemplo@correo.com"
        />
      </div>

      <div class="form-group">
        <label for="role">Rol</label>
        <select id="role" name="role" [(ngModel)]="usuario.role">
          <option value="">Seleccione un rol</option>
          <option value="admin">Administrador</option>
          <option value="estandar">Estándar</option>
        </select>
      </div>

      <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" name="estado" [(ngModel)]="usuario.estado">
          <option value="">Seleccione un estado</option>
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>

      <div class="form-actions">
        <button class="btn-guardar" type="submit">💾 Guardar</button>
      </div>
    </form>
  </div>
</div>
