<app-navbar></app-navbar>

<div class="formulario-container">
  <button class="btn-volver" (click)="volver()">← Volver</button>

  <div class="form-card">
    <h1 class="form-title">Formulario de Servicio</h1>

    <form (ngSubmit)="guardar()" class="formulario-dos-columnas">
      <div class="form-group">
        <label for="">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="Servicio.nombre"
          placeholder="Ingrese el Nombre del Servicio"
        />
      </div>

      <div class="form-group">
        <label for="nombre">Encargado del servicio:</label>
        <input
          type="text"
          id="encargado"
          name="encargado"
          [(ngModel)]="Servicio.encargado_servicio"
          placeholder="Ingrese el nombre completo del encargado del servicio"
        />
      </div>
      <div class="form-group">
        <label for="subdireccion">Subdirección</label>
        <select
          id="subdireccion"
          name="subdireccion"
          class="form-control"
          required
          [(ngModel)]="Servicio.subdireccion_id"
          (change)="
            onSubdireccionChange(subdireccion_id);
            listarServicios(subdireccion_id)
          "
        >
          <option value="" disabled selected>
            Seleccione una subdirección
          </option>
          <option *ngFor="let sub of subdirecciones" [value]="sub.id">
            {{ sub.nombre }}
          </option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="jefe">Jefe Inmediato:</label>
        <input
          type="text"
          id="jefe"
          name="jefe"
          [(ngModel)]="Servicio.jefe_inmediato"
          placeholder="Nombre completo del jefe inmediato"
        />
      </div> -->

      <div class="form-group">
        <label for="role">Descripción del servicio</label>
        <input
          type="text"
          id="descripcion"
          name="descripcion"
          [(ngModel)]="Servicio.descripcion"
          placeholder="Ingrese una descripcion del servicio"
        />
      </div>

      <div class="form-group">
        <label for="activo">Activo:</label>
        <input type="radio" [(ngModel)]="Servicio.activo" />
      </div>

      <div class="form-actions">
        <button class="btn-guardar" type="submit">💾 Guardar</button>
      </div>
    </form>
  </div>
</div>
