<div class="formulario-container">
  <button class="btn-c" (click)="volver()">Volver</button>
  <h1>Formulario</h1>
  <form>
    <label for="tema">Tema:</label>
    <input type="text" id="tema" name="tema">
    <br>
    <label for="actividad">Actividad:</label>
    <input type="text" id="actividad" name="actividad">
    <br>
    <label for="modalidad">Modalidad:</label>
    <input type="text" id="modalidad" name="modalidad">
    <br>
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha">
    <br>
    <label for="estado">Estado:</label>
    <input type="text" id="estado" name="estado">
    <br>
    <button class="btn-c" type="submit">Enviar</button>
  </form>


</div>
