<app-navbarCliente></app-navbarCliente>

<div class="formulario-container">

  <button class="btn-volver" (click)="volver()">← Volver</button>

  <div class="form-card">
    <h1 class="form-title">Formulario de Registro</h1>

    <form (ngSubmit)="guardar()" class="formulario-dos-columnas">

       <div class="form-group">
        <label for="subdireccion">¿A qué subdirección pertenece?</label>
        <select id="subdireccion" name="subdireccion" [(ngModel)]="subdireccion_id" class="form-control" required="">
          <option *ngFor="let sub of subdirecciones" [value]="sub.id">{{ sub.nombre }}</option>
        </select>
      </div>

      <ng-container *ngIf="subdireccion_id == 1">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of direccion" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="subdireccion_id == 2">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of subEnfermeria" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="subdireccion_id == 3">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of subMedica" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="subdireccion_id == 4">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of subTecnica" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="subdireccion_id == 5">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of subGerencia" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="subdireccion_id == 6">
        <div class="form-group">
          <label for="servicios">¿Elija su servicio?</label>
          <select
            id="servicios"
            name="servicios"
            [(ngModel)]="usuario.servicio_id"
            class="form-control"
            required
          >
            <option *ngFor="let serv of subRH" [value]="serv.id">
              {{ serv.nombre }}
            </option>
          </select>
        </div>
      </ng-container>




      <div class="form-group">
        <label for="username">Usuario</label>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="usuario.username"
          placeholder="Ingrese el usuario" required="">
      </div>

      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="usuario.nombre"
          placeholder="Ingrese el nombre completo" required="">
      </div>

      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="usuario.email"
          placeholder="ejemplo@correo.com" required="">
      </div>



      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="usuario.password"
          placeholder="Ingrese una contraseña">
      </div>

      <div class="form-actions">
        <button class="btn-guardar" type="submit">💾 Guardar</button>
      </div>

    </form>
  </div>

</div>
